@media only screen and (max-width: 320px) {

    body {
        background-color: cadetblue;
    }

    h1 {
        margin: 56px auto;
        font-size: 25px;
        font-family: 'Cinzel', serif;
        font-style: italic;
        text-align: center;
        color: whitesmoke;
    }

    p {
        padding: 5px 10px;
        text-align: center;
    }

    .inputBox {
        text-align: center;
    }

    input {
        text-align: center;
    }

    button {
        background-color: black;
        color: whitesmoke;
    }

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}