:root{
 --lis: #fbfbfbdc;
 --lac: #55bac1c0;
 --mbc: #A2B3AB;
 --dac: #928C76;
 --das: #363431;
}
.is-parent{
    flex-wrap: wrap;
}
.prev{
    margin-right: 15px;
}
article{
    margin: 20px;
}
#current-image{
    margin-right: 20px;
}
p{
    text-overflow: hidden;
    white-space: pre-wrap;
}
.tile {
    min-width: 320px;
}
#image-container{
    float:top;
    margin-right: 20px;
}
#hero-image-container{
    float:left;
}

#hero-img{
margin-right:20px;
}

.button{
    margin: 10px;
    margin-left: 0px;
}

#elNavigation {
    font-size: 20px;

}

#prev-viewed {
    list-style: none;
}

header, nav {
    justify-content: center;
    width: 100%;
    height: 45px;
    
}
img{
    border-radius: 15px;
}
.notification.is-child button{
    background-color: var(--mbc);
    color: var(--lis);
    border-radius: 15px;
}
.notification.is-child{
    background-color: var(--lis);
    color: var(--das);
    border-radius: 20px;
    
}
.button{
    background-color: var(--mbc);
    color: var(--lis);
    border-radius: 15px;
}
header p, a, span{
    color: var(--lis)
}
header div{
    background-color: var(--mbc);
}
body, html{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: var(--das);
}
#logo{
    font-family: 'Bungee Spice', cursive;
}
.hero{
    margin-top: 40px;
}
.hero-body{
    background-color: var(--lac);
}
.modal-content{
    background-color: var(--lis);
    color: var(--das);
}
.hero.is-link {
    background-color: var(--lac);
}
#prev-viewed li:hover{
    background-color: var(--lac);
}